#test_coverage.yml
name: test_coverage

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: macOS-latest
    strategy:
      matrix:
        r: ['3.6']

    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v2-branch
        with:
          r-version: ${{ matrix.r }}
      - uses: r-lib/actions/setup-pandoc@v2-branch
      - uses: r-lib/actions/setup-tinytex@v2-branch
            
      - name: Install dependencies
        env:
          R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
          GITHUB_PAT: ${{ secrets.GH_PAT_RFASST}}

        run: install.packages(c('remotes', 'rcmdcheck', 'covr')) 
             remotes::install_deps(dependencies = TRUE)
      
      - name: Check
        run: Rscript -e "rcmdcheck::rcmdcheck(error_on = 'error')"
      
      - name: Test coverage
        run: |
          remotes::install_cran("covr")
          covr::codecov(token = "${{secrets.CODECOV_TOKEN}}")
        shell: Rscript {0}
